/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 3, 2016, 7:38:38 PM
    Author     : harini-geek
*/

.info-body{
    width: 100%;
    height: 1000px;
    background-color: white;
}

.info-body #currentDrugOrdersWindow{
    width: 60%;
    float: left;
}

.info-body #pharmaOrderViewWindow{
    width: 38%;
    float: right;
}

.info-body #pharmaOrderActionWindow{
    width: 38%;
    float: right;
}

#patient-search-bar{
    width: 100%;
}

#orderSearchField{
    width: 40%;
    float: left;
}

#orderSearchButton{
    width: 10%;
    float: left;
}

.fields{
    padding-left: 10px;
}

#searchResults{
    padding: 10px;
}

#view_order_detail{
    width: 100%;
}

#order_label{
    width: 30%;
    float: left;
}

#order_value{
    width: 70%;
    float: right;
}

.dialog .dialog-header{
    text-align: center !important;
}

#header{
    text-align: left;
    font-weight: bold;
}

#pharmaOrderView, #pharmaActionView, #patient-search-bar, #searchResultsWindow, #activeOrdersWindow{
    background: #F9F9F9;
    border: 1px solid #eee;
    color: #363463;
}

.orderRow:hover {
    background: #75b2f0;
    color: white;
    cursor: pointer;
}

.medRow:hover span{
    background: #75b2f0;
    color: white;
    cursor: pointer;
}

#associatedOrdersTableWrapper .dataTables_wrapper, #otherOrdersTableWrapper .dataTables_wrapper, #searchResultsWindow .dataTables_wrapper, #activeOrdersWindow .dataTables_wrapper{
   _height: 152px;
   min-height: 152px;
}

.icon-minus-sign.edit-action, #additionalInformation, #pharmaOrderViewWindow{
    display: none;
}

#line-break{
    width: 100%;
    border: 2px solid;
}

#planDrugName{
    float: left;
    width: 60%;
    overflow: hidden;
}

#planDrugDate{
    float: right;
    width: 40%;
}