/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 3, 2016, 7:38:38 PM
    Author     : harini-geek
*/

.info-body{
    width: 100%;
    background-color: white;
}

#col-lg-2{
    width: 50%;
}

#search-bar{
    width: 100%;
}

.col-lg-6{
    width: 100%;
}

#patient-search-bar{
    width: 50%;
    float: right;
}

#order-search-bar{
    width: 50%;
    float: left;
}

#pharmaOrderView{
    width: 40%;
    float: right;
    background: #F9F9F9;
    display: none;
    float: right;
}

.col-lg-12{
    width: 100%;
}

#pharmaActionView{
    width: 40%;
    float: right;
    background: #F9F9F9;
    display: none;
    float: right;
}

.fields{
    padding-left: 10px;
}